# ~~~~~~~~~ Global ~~~~~~~~~

# Ignore all dot folders
.*/

# Ignore all temp files
~$*
*~

# Ignore all archives
*.zip
*.tar.gz
*.tar
*.rar

# ~~~~~~~~~ Language specific ~~~~~~~~~
pkg
out
Gemfile.lock

# ~~~~~~~~~ IDE specific ~~~~~~~~~

# Idea
*.iml

# ~~~~~~~~~ Accelerate ~~~~~~~~~
**/challenges/*.txt
record
config/credentials.config
coverage
coverage.tdl
jre
